*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

:root{
    --amarillo: #FCF3B5;
    --violeta: #5B1647;
    --anaranjado: /*#FFC971 /*#427AA1*/ #FBD7B7;
    --vino: /*#FF9505 /*#064789*/ #C6ACC7; 
    --rosado:/*#FFB627 /*#679436*/ #ECB4BF; 
    --botones: #E2711D /*#CC5803*/;
    --fondos: seashell;
    --claro: #EBF2FA;
    --verde: #A5BE00;
}

body{
    height: 100vh;
    /* background-image: url(./img/fondocita3.jfif); */
}


main{
    display: flex; /*lleva el aside para la derecha*/
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
////////////////////<<<<<<<<<< HEADER >>>>>>>>>>\\\\\\\\\\\\\\\\\\\\ 
********************************************************************/

.header{
    background-color: var(--vino,red);
    z-index: 1;
    width: 100%;
    height: 12vh;
    display: flex;
    /*text-align: center;*/
    flex-direction: column; /*pone el nav debajo del h1*/
}


h1{
    font-size: 2.8em;
    text-align: center;
    color: var(--claro);
    font-family: 'Frijole', cursive;
}

h2{
    font-family: 'Fredericka the Great', cursive;
    color: var(--violeta);
}


ul{
    display: flex; /*me lo pone horizontal*/
    list-style-type: none; /*saca los puntitos*/ 
    justify-content: flex-end; /*todos sobre la izq*/
    color: #fff;
    height: 5vh;
    /* width: 30%; */
}
li{
    margin: 0.5%;
    background-color:var(--rosado);
    border-radius: 5px;
    padding: 1%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

li:hover{
    background-color: #fff;
    color: blueviolet;
    border-radius: 5px;    
}

#lista-texto::before{
    content: url(./img/iconos/Text-32.png);
}

#lista-imagen::before{
    content: url(./img/iconos/Gallery-32.png);
}

#claroOscuro{
    opacity: 0%;
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
////////////////////<<<<<<<<<< SECTION >>>>>>>>>>\\\\\\\\\\\\\\\\\\\\ 
********************************************************************/

.container{
    width: 70%;
    height: 88vh; 
    background-color:var(--anaranjado);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    
}

#meme-completo{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

article{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.topbotText{
    background-color: var(--amarillo); 
    height: auto;
    min-height: 10vh;
    max-height: 20vh; 
    overflow: hidden;
    width: 100%;
}

.imgMeme{
    background-color: var(--fondos); 
    height: 50vh;
    font-size: 1.5rem;
    /* position: relative; */
}

.imgMemeForm{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.imgMemeTransparente{
    position: absolute;
    z-index: 1;
    height: 70vh;
    width: 60%;
}

.oculto{
    display: none;
}

.visible{
    display: block;
}

.download{
    margin: 2%;
    padding: .5%;
    color: whitesmoke;
    position: relative; 
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
////////////////////<<<<<<<<<< ASIDE >>>>>>>>>>\\\\\\\\\\\\\\\\\\\\ 
********************************************************************/
.aside{
    width: 30%;
    height: 88vh;
    background-color: var(--rosado); 
    display: flex;
}

.class-form-txt{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center; 
    align-items: left;
    margin: 10%;
    line-height: 40px; /*interlineado*/
    text-align: left;
    
}

.class-form-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 10% auto;
}
textarea {
    resize: none;
    width: auto;
}

.title-aside{
    text-align: center;
    padding: 2%;
    font-size: 2.5em;
}
input, select, textarea{
    background-color: var(--anaranjado);
    border-radius: 5px;
}

.div-fondo{
    background-color: var(--vino);
    padding: 3%;
    
}

.form-text-button{
    background-color: var(--violeta);
    border-radius: 5px;
    padding: 1%;
    color: var(--claro);
    border: none;
    cursor: pointer;

}

form button{
    width: auto;
    height: auto;
}

input[type='range'] {
    width: 100%;
    background-color: var(--violeta);
    border-radius: 10px;
    appearance: none;
    height: 6px;
    margin: 10px;
}

input[type='range']::-webkit-slider-thumb{
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 10px;
    border-radius: 10%;
    background-color: var(--violeta);
}
input[type='number'] {
    width: 4em;
} 

input[type='color']::-webkit-color-swatch-wrapper {
    display: flex;
    height: 36px;
    border-radius: 50px;
    padding: 8px 10px;
    display: flex;
    box-sizing: border-box;
}

input[type='color']::-webkit-color-swatch {
    width: 18px;
    max-width: 18px;
    margin: 0;
}
input[type='color'] {
    height: fit-content;
    width: auto;
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
////////////////////<<<<<<<<<< EXTRA >>>>>>>>>>\\\\\\\\\\\\\\\\\\\\ 
********************************************************************/

.stroke {
    -webkit-text-stroke: 2px black;    
    }

body.dark{
    color: var(--claro);
    -webkit-text-stroke: .2px var(--verde);  
} 

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
////////////////////<<<<<<<<<< MEDIAS >>>>>>>>>>\\\\\\\\\\\\\\\\\\\\ 
********************************************************************/

@media(max-width: 500px){
    .aside{
        display: none;
    }

    .responsive{
        display: block;
        width: 100%;
        height: 100vh;
        padding: 30px 20px;
        position: absolute;
        z-index: 3;
    }

    /*header label{
        display: block;
    }*/

.container{
        width: 100%;
        height: 70vh;
        padding: 10% 0;
}

article{
    width: 90%; 
}

ul{
    justify-content: center;
}
}
