*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

:root{
    --amarillo: #FCF3B5;
    --violeta: #5B1647;
    --anaranjado: #FBD7B7;
    --vino: #C6ACC7; 
    --rosado:  #ECB4BF;
    --azul: #C2E3EC;
    --fondos: seashell;
}

body{
    height: 100vh;
    /* background-image: url(./img/fondocita3.jfif); */
}


main{
    display: flex; /*lleva el aside para la derecha*/
    /* justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;*/
}
.header{
    background-color: var(--vino,red);
    z-index: 1;
    width: 100%;
    display: flex;
    /*text-align: center;*/
    flex-direction: column; /*pone el nav debajo del h1*/
}

h1{
    font-size: 3em;
    text-align: center;
}


ul{
    display: flex; /*me lo pone horizontal*/
    list-style-type: none; /*saca los puntitos*/ 
    justify-content: flex-end; /*todos sobre la izq*/
    color: #fff;
    height: 5vh;
    /* width: 30%; */
}
li{
    margin: 0.5%;
    background-color:var(--rosado);
    border-radius: 5px;
    padding: 1%;
    display: flex;
    align-items: center;
}

li:hover{
    background-color: #fff;
    color: blueviolet;
    border-radius: 5px;
    filter: brightness(110%);
}

li:focus{
    background-color: aqua;
}

#claroOscuro{
    opacity: 0%;
}
/***/                   
.container{
    width: 70%;
    /* height: 80vh; */
    background-color:var(--anaranjado);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    
}

#meme-completo{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

article{
    width: 60%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.topbotText{
    background-color: var(--amarillo); 
    height: 10vh;
    /* height: auto; */
    overflow: hidden;
    width: 100%;
}

.imgMeme{
    background-color: var(--fondos); 
    height: 50vh;
    font-size: 1.5rem;
    /*position: absolute;
    z-index: 1;*/
    
}

#lista-texto::before{
    content: url(./img/iconos/Text-32.png);
}

#lista-imagen::before{
    content: url(./img/iconos/Gallery-32.png);
}

.oculto{
    display: none;
    /* visibility: hidden;  */
}

.visible{
    display: block;
    /* visibility: visible; */
}

.download{
    margin: 2%;
    padding: .5%;
    background-color: seagreen;
    color: whitesmoke;
    position: absolute;
}

.aside{
    width: 30%;
    /* height: 85vh; */

    background-color: var(--rosado); 
    display: flex;
    
}


#contenedor-texto{
    /*background-color: var(--violeta);*/
    width: 100%;
}
.class-form-txt{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center; 
    align-items: left;
    margin: 8%;
    line-height: 40px; /*interlineado*/
    text-align: left;
    
}


.class-form-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rebeccapurple; */
    width: 60%;
    margin: auto;
}
textarea {
    resize: none;
    width: auto;
}

.title-aside{
    text-align: center;
    padding: 2%;
    font-size: 2.5em;
}
input, select, textarea{
    background-color:var(--rosado);
}

.div-fondo{
    background-color: var(--vino);
    padding: 3%;
    margin: 3%;
}

form button{
    width: auto;
    height: auto;
}

.footer{
    width: 100%;
    height: 2vh;
    background-color: var(--azul);
    text-align: center;
    padding: 2%;
    color: whitesmoke;
}

input[type='range'] {
    width: 100%;
    background-color: var(--violeta);
    border-radius: 10px;
    appearance: none;
    height: 6px;
    margin: 10px;
}

input[type='range']::-webkit-slider-thumb{
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 10px;
    border-radius: 10%;
    background-color: #5B1647;
}
input[type='number'] {
    width: 4em;
} 

input[type='color']::-webkit-color-swatch-wrapper {
    display: flex;
    height: 36px;
    border-radius: 50px;
    padding: 8px 10px;
    display: flex;
    box-sizing: border-box;
}

input[type='color']::-webkit-color-swatch {
    width: 18px;
    max-width: 18px;
    margin: 0;
}
input[type='color'] {
    height: fit-content;
    width: auto;
}
.stroke {
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
    -webkit-text-stroke: 2px black;    
    }

body.dark{
    /* background-color: #000;
    opacity: 40%; */
    color: silver;
    /* z-index: 0;*/
} 



/*#hex-color-texto, #color{
    background-color: red;
}*/

@media(max-width: 500px){
    .aside{
        display: none;
    }

    .responsive{
        display: block;
        width: 100%;
        height: 100vh;
        padding: 30px 20px;
        position: absolute;
        z-index: 3;
    }

    /*header label{
        display: block;
    }*/

.container{
        width: 100%;
        height: 70vh;
        padding: 10% 0;
}

article{
    width: 90%; 
}

ul{
    justify-content: center;
}
}

/*
.kkk{
    cursor: pointer;
}*/