*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

:root{
    --amarillo: #FCF3B5;
    --violeta: #5B1647;
    --anaranjado: #FBD7B7;
    --vino: #C6ACC7;
    --rosado:  #ECB4BF;
    --azul: #C2E3EC;
    --fondos: seashell;
}

body{
    height: 100vh;
}

main{
    display: flex; /*lleva el aside para la derecha*/
   /* justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;*/
}
header{
    background-color: var(--vino);
    width: 100%;
    display: flex;
    /*text-align: center;*/
    flex-direction: column; /*pone el nav debajo del h1*/
  
}

h1{
    font-size: 3em;
    text-align: center;
}


ul{
    display: flex; /*me lo pone horizontal*/
    list-style-type: none; /*saca los puntitos*/ 
    justify-content: flex-end; /*todos sobre la izq*/
    color: #fff;
    height: 5vh;
    /* width: 30%; */
}
li{
    margin: 0.5%;
    background-color:var(--rosado);
    border-radius: 5px;
    padding: 1%;
    display: flex;
    align-items: center;
}

li:hover{
    background-color: #fff;
    color: blueviolet;
    border-radius: 5px;
}

/***/                   
.container{
    width: 70%;
    height: 80vh;
    background-color:var(--anaranjado);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    
}

article{
    width: 60%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    

}


article p{
    width: 100%; 
}
.topText{
    background-color: var(--amarillo);
    height: 10vh;
    /* height: auto; */
    max-height: 10vh;
   
}

.imgMeme{
    background-color: var(--fondos);
    height: 50vh;
    font-size: 1.5rem;
}

.bottomText{
    background-color: var(--amarillo);
    height: 10vh;
    
}

#lista-texto::before{
    content: url(./img/iconos/Text-32.png);
}

#lista-imagen::before{
    content: url(./img/iconos/Gallery-32.png);
}

.oculto{
    display: none;
    /* visibility: hidden;  */
}

.visible{
    display: block;
    /* visibility: visible; */
}

.download{
    margin: 2%;
    padding: .5%;
    background-color: seagreen;
    color: whitesmoke;
}

aside{
    width: 30%;
    height: 80vh;
    background-color: var(--rosado);
    display: flex;
    
}
#contenedor-texto{
    /*background-color: var(--violeta);*/
    width: 100%;
}
.class-form-txt{
    /*display: flex;*/
    flex-direction: column;
    width: 100%;
    justify-content: center; 
    align-items: center;
    margin: auto;
    line-height: 30px; /*interlineado*/
    text-align: center;
    
}


.class-form-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rebeccapurple; */
    width: 60%;
    margin: auto;
}
textarea {
    resize: none;
}

.title-aside{
    text-align: center;
    padding: 2%;
    font-size: 2.5em;
}
input, select{
    background-color:var(--rosado);
}

form button{
    width: auto;
    height: auto;
}

footer{
    width: 100%;
    background-color: var(--azul);
    text-align: center;
    padding: 2%;
    color: whitesmoke;
}

input[type='range'] {
    width: 100%;
    background-color: var(--violeta);
    border-radius: 10px;
    appearance: none;
    height: 6px;
    margin: 10px;
}

input[type='number'] {
    width: 4em;
} 

.stroke {
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;

    -webkit-text-stroke: 2px black;
    
    }

/*
@media(max-width: 500px){
    .aside{
        display: none;
    }

.container{
        width: 100%;
        height: 70vh;
        padding: 10% 0;
}

article{
    width: 90%; 
}

ul{
    justify-content: center;
}
}*/